body{
	background-color: rgb(232, 233, 237);
	margin:0;
	box-sizing: border-box;
}
.container{
	width: 76%;
    height: 660px;
    background-color: white;
    margin-left: 12%;
    padding-top: 15px;
}
.container hr{
	border: 0.5px solid grey;
}
.header{
	width:100%;
	height: 60px;
	background-color: rgb(232, 233, 237);
	margin:0;
	margin-bottom: 15px;
}
.hdr{
	width: 100%;
    height: 100%;
    
}
.hdr ul{
	list-style-type: none;
    margin: 0;
    /*padding: 0;*/
    overflow: hidden;
    background-color:white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 12px;
    white-space: nowrap;
    padding-left: 40px;
}
li {
    float: left;
    
}
li a {
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 21px;
    margin-left: 2px;
    margin-right: 15px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: white;
}
#logo{
    
    height: 21px;
    width: 21px;
    float: left;
    margin-top: 30px;
    margin-right: 22px;
}

.container1{
	width: 76%;
	height: 490px;
	/*background-color: red;*/
	margin-left: 12%;
	margin-top: 40px;
}
.container1 h1{
	padding: 10px 0px 5px 0;
	font-weight: 300;
}
.container1 h2{
	margin:0;
	font-weight: 300;
	padding: 25px 0px 25px 0px;
}
.container2{
	width: 100%;
	height: 100px;
}
#pocni{
	border-radius:10px;
	border: 1px solid grey;
	padding:9px;
	float:right;
	width:15%;
	background-color:#306bc9;
	margin-right: 130px;
	color: white;
}
.cont{
	width: 100%;
    height: 700px;
    margin-left: 10%;
	background-color: rgb(232, 233, 237);
	box-sizing: border-box;
}
.cont1{
	width: 44%;
    height: 350px;
    box-sizing: border-box;
    background-color: white;
    margin-top: 90px;
    border: 0.5px solid silver;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    float: left;
}
.cont2{
    width: 25%;
    height: 350px;
    box-sizing: border-box;
    background-color: white;
    margin-top: 90px;
    border: 0.5px solid silver;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    margin-right: 20%;
}
.cont1 h1, .cont2 h1{
	margin: 0;
	margin: 30px 0px 10px 0px;
	font-weight: 300;
}
.cont1 hr{
	border: 0.5px solid silver;
	margin-bottom: 10px;
}
.cont1 input{
	width: 96.5%;
    padding: 8px;
    margin: 60px 0 12px 0;
    border: none;
    border-bottom: 1px solid silver;
}
.cont2 input{
    width: 96.5%;
    padding: 4px;
    margin: 3px 0 3px 0;
    border: none;
    border-bottom: 1px solid silver;
}
#start{
    width: 130px;
    padding: 8px;
    text-align: center;
    background-color: black;
    color: white;
    border: 0;
    float: right;
    margin-top: 40px;
    background-color:#306bc9;
}
#pocetak{
    width: 80px;
    padding: 4px;
    text-align: center;
    color: white;
    border: 0;
    float: right;
    margin-top: 20px;
    background-color:#306bc9;
}
.table{
    font-family: sans-serif;
    font-size: 0.9em;
    line-height: 1.5em;
    border: 1px solid black;
    border-collapse: collapse;
    opacity: 0.95;
    width: 55%;
    /*margin-top: 10%;
    margin-left: 8%;*/
    margin-top: 140px;
    margin-left: 70px;
}
.table th{
    /*background-color: #666;*/
    color: white;
    background-color: #c69977;
}
.red{
    color: white;
    background-color: #666;
}
article table tr td h1{
    font-weight: 300;
    font-size: 35px;
    padding: 0;
    margin: 15px;
}
.table th, .table td{
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    font-weight: 300;
}
article{
    /*overflow-x: auto; */
}
.cont3{
    width: 18%;
    height: 380px;
    box-sizing: border-box;
    background-color: white;
    margin-top: 140px;
    border: 0.5px solid silver;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    margin-right: 13%;   
}
.cont3 h1{
    font-weight: 300;
}
.cont3 hr{
    margin-bottom: 15px;
}
.cont3 input{
    width: 96.5%;
    padding: 4px;
    margin: 3px 0 3px 0;
    border: none;
    border-bottom: 1px solid silver;
}
#pocetak1{
    width: 100%;
    padding: 4px;
    text-align: center;
    color: white;
    border: 0;
    float: right;
    margin-top: 20px;
    background-color:#306bc9;
}
.error{

    border: 1px solid red !important;
}

#izlaz{

    width: 100%;
    padding: 4px;
    text-align: center;
    color: white;
    border: 0;
    float: right;
    margin-top: 15px;
    background-color:red;
}
