body{
    background: #31302b;
}
.container{
    width: 350px;
    height: 420px;
    margin: 70px auto;
    background-color: white;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 55px;
    background-color: #16a085;

}
.header h1{
    line-height: 55px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    /*background: #1abc9c;*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.content{
    width: 100%;
    height: 365px;
    padding-top: 45px;
    padding-left: 43px;
}
.content input{
    margin:0;
    width: 68%;
}
.content textarea{
    background-color: #f7f3eb;
    border: none;
}
#sub{
    margin-top: 27px;
    width: 30%;
    padding: 8px;
    border: none;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: inset 0px 0px 0px 0px #1abc9c;
    color: #fff;
    background-color: #16a085;
    margin-left: 24%;
}
#name{
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f7f3eb;
    border: none;
}
#LName{
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f7f3eb;
    border: none;
}
#mail{
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f7f3eb;
    border: none;
}
.error{

    border: 1px solid red !important;
}
